body{
	font-family: 'arial', helvetica, impact;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	background-color:#f4f4f4;
}

.navbar{
	max-width: 100%;
	min-width: 450px;
	margin:auto;
}

.navbar-brand .logo{
	height: 30px;
	width: 60px;
}

.navbar a{
	background-color:none;
	color: #000;
	text-align: center;
}

.navbar a:hover{
	background-color: #DB0407;
	color: #223E8B;
	border-radius: 3px;
	text-align: center;
	text-decoration-color: chartreuse;
}
/*global*/

#container{
	max-width: 1160px;
	padding-bottom:10px;
	align-items: center;
	text-align:center;
	margin:auto;
	 
}

/*   titulos para cada una de las paginas */

/*#titulo{	
	text-shadow: 2px 2px 6px black;
	padding: 12px;
	margin:45px 0px;
}

#titulo h1{
	text-align:center;
	font-size: 36px;
}

/*   logos de patrocinadores para todas las paguinas */

.patrocinadores {
	text-align: center;
	width: 1160px;
}

.patrocinadores .anuncio{
	align-content: center center;
	margin: 0px;
}

.patrocinador-1{
	max-width: 1160px;
	margin-top: 45px;
	margin-bottom: 5px;
	border:none;
}	

.patrocinador-2{
	max-width: 1160px;
	margin-top: 36px;
	margin-bottom: 15px;
	border:none;
	text-align:center;
	align-items: center center;
}


.boton{
	height:18px;
	background: #e8491d;
	border-bottom:0;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
	}

/* showcase */ 

.showcase{
	color:#f4f4f4;
	/*min-width: 450px;*/
	
}

.showcase img{
	width: 100%;
	background-size: cover;
}

#showcase1{
	max-width: 1160;
	padding-bottom:10px;
	/*min-height:600px;*/
	background:url('../voluntiers/feed all.jpg') no-repeat -840px -1152px;
	background-color: #F91317;
	text-align:center;
}

.p-close{
	margin-bottom: 21px;
}

.p-close h4{
	margin-top: 21px;
	text-align: center;
	text-shadow: 2px 2px 3px black;
}

.p-close p{
	margin-bottom: -5px;
}

.showcase h3{
	margin-top:401px;
	margin-bottom:2px;
	background-color: #FFFFFF;
}

/* pagina principal 1*/

.intro{
	padding: 26px;
	text-align: center;
	color:red;
}

.intro h4{
	text-align:center;
	font-size: 21px;
	margin-top:auto;
}

#boxes {
	display: flex;
	align-items: center;
	text-align:center;
	width:100%;
	color: #C0C0C0;
	max-width: 1160px;
}

#boxes .box{
	padding: 15px;
	margin-top: 21px;
	margin-bottom: 23px;
	margin-left: 10px;
	border:1px #f4f4f4 solid;
	border-radius: 9px;
	max-width: 1160px;
}

/* pagina About 2*/

.about-us{
	min-width: 450px;
	padding: 40px 30px; 
}
/**/
/* pagina categories 3*/



/* pagina maps 4*/

.stravaweather{
	margin-bottom: 21px;
	align-items:center;
}

.strava-weather{
	width:650px;
	
}

.stravaweather strava{
	text-align: center;
}

.stravaweather wu{
	text-align: center;
}

/* pagina register now 5*/

/* pagina results 6*/

/* pagina sponsors 7*/

/* pagina volunteers 8*/

/* pagina contact 9*/

/* pagina links 10*/

/* boxex */

#contact{
	background:#0000A0;
	color: #f4f4f4;
	padding-top: 27px;
}

#contact1{
	background:#0000A0;
	color: #f4f4f4;
	padding-top: 27px;
	}

#contact .box{
	text-align:center;
	max-width:100%;
	padding:5px;
	margin-bottom:10px;
	margin-top:27px;
}

#contact1 .box{
	text-align:center;
	max-width:90%;
	padding:2px;
	margin-bottom:40px;
	margin-top:10px;
}




.cartel{
	width: 600px;
	margin:20px;
	padding: 50px;
	border:1px #f4f4f4 solid;
	border-radius: 9px;
}

/* footer */	

.pie{
	text-align:center;
	margin:auto;
}

.pie p{
	background:#333;
	color: #009BFF;
	min-height:40px;
}

.container{
    padding-top: 50px;
	padding-bottom:50px ;
}
h2{
    text-align: center;
    padding: 80px;
}

.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}

@media screen and (max-width: 450px){
		#About h3{
		padding-top:15px;
		padding-bottom: 15px;
		text-align:center;
		margin:auto;
	}
	
	#container{
	max-width: auto;
	padding-bottom:10px;
	margin-left: none;
	margin-right: none;
	align-items: center;
	text-align:center;
	margin:none;
	padding-right: none;
	 
}
	

	.intro{
	padding: none;
	margin-top: 63px;
	margin-bottom: 45px;
	}
	
	.intro h4{
	text-align:center;
	font-size: 24px;
	margin:none;
	padding: none;
	}

	#About h4{
		text-align:center;
		margin:auto;
	}

	#showcase{
		margin: none;
	
	}
	
	.showcase img{
		widows: 100%;
	}
	
	
	
	#showcase1{
		background:url('../voluntiers/feed all.jpg') no-repeat -960px -1152px;
	}

	.stravaweather{
		text-align:center;
		max-width: auto;
		margin-bottom: 21px;
	}
	

	#containerclick .btn-link{
		text-align:center;
		max-width: auto;
	}

	#btn-link{
		
	}


	
}





/* media queries */
/* #f4f4f4 dark grey White	#FFFFFF*/
/* newaletter.Blue	#0000FF
DarkBlue	#0000A0
LightBlue	#ADD8E6
Purple	#800080 #FF0000 red, #35424a dark grey. 
#ffffff white for dots.  #ddd light grey 
#8B0000 dark red, tomato red #FF6347 
lightgray / lightgrey	#D3D3D3	rgb(211,211,211)
silver	               #C0C0C0	rgb(192,192,192)
darkgray / darkgrey	  #A9A9A9	rgb(169,169,169)
gray / grey	         #808080	rgb(128,128,128)
dimgray / dimgray	#696969	rgb(105,105,105)  
Aqua	#00FFFF	rgb(0, 255, 255)
Teal	#008080	rgb(0, 128, 128)
Blue	#0000FF	rgb(0, 0, 255)
Navy	#000080	rgb(0, 0, 128)       */



/* header.#000000 black. #35424a dark grey. #0c00ff blue. #ffffff white for dots, #e8491d orange  */


/* esta me da la altura de la banda donde estan los links */


/* me cambia la lista del menu. padding:0 10px[separa los nombres]0 5px;*/


/* me mueve todo el navegador. margin-top sube los links del menu hacia arriba pero con -20px*/
